/* 
Nombre Completo: Santiago Castro Giraldo
Clan: DELL
fecha: 03/04/2024 
*/

/*importaciones*/
/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*variables genericas*/
:root{
    --verde_bosque:#1A5126;
    --verde_claro:#8FBF5F;
    --azul_claro:#5CB3FF;
    --beige:#F3E9DC;
    --Marron_tierra:#B18F6A;
    --blanco:#ffffff;
}
/*Entorno general*/
*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

a{
    color: var(--blanco);
    background-color: var(--verde_bosque);
    text-decoration: none;

}
body{
    background-color: var(--beige);
}
/*header*/
header{
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: var(--verde_bosque);
}
header h1{
    background-color: var(--verde_bosque);
    color: var(--blanco);
}
header nav{
    background-color: var(--verde_bosque);
}
/*secccion casa, muestra titulo grande y descripcion*/
.home{
    height: 50vh;
    max-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;

    background-image:url(/public/img/imagen1.webp);
    background-repeat: no-repeat;
    background-size: 100vw 75vh;

}
.home .text{
    color: var(--blanco);
}
.home .text p{
    width: 50vw;
    text-align: center;
}
/*distribucion secciones de parques y jardines*/
.sect{
    display: flex;
}
.info{

}
.info .tit{
    color: var(--verde_bosque);
}
